#include <iostream>
#include <string>
#include <stdio.h>

using namespace std;

void PrintIntro();
string GetGuessAndPrintBack();

int main()
{
    
    PrintIntro();
    
   // loop for the number of turns asking for guesses
    constexpr int NUMBER_OF_TURNS = 5;
    for (int count = 1; count <= NUMBER_OF_TURNS; count++)
    {
    GetGuessAndPrintBack();
    cout << endl;
    }
    
    return 0;
}

// introducing the game
void PrintIntro()
{
    
    constexpr int WORD_LENGTH = 9;
    cout << "Welcome to Bull and Cow, a fun word game\n";
    cout << "can u guess a " << WORD_LENGTH;
    cout <<" letters isogram im thinking of?\n";
    cout << endl;
    return;
    
}

    // get a guess from the user
string GetGuessAndPrintBack()
{
    cout << "Please Enter ur Guess\n";
    string Guess = "";
    getline(cin, Guess);
    
    // print the guess back to the user
    
    cout << "Your guess was: " << Guess << endl;
    return Guess;
}
